<h3>Confirm</h3>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>title:<%= @blog.title %></p>
  <p>content:<%= @blog.content %></p>
  <%= form.hidden_field :group_id, :value => @blog.group_id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.submit  "Post" %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :group_id, :value => @blog.group_id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.submit "Back" , name: 'back' %>
<% end %>